<mat-card>
    <mat-card-title> All Leagues </mat-card-title>
    <mat-card-subtitle> Complete List of leagues</mat-card-subtitle>
    <mat-card-content>
        <div class="message-box contact-box p-20">
            <div class="message-widget contact-widget">
                <mat-list>
                    <a  *ngFor='let league of this.leagues'>
                        <mat-list-item >
                        
                            <div class="user-img" mat-list-avatar routerLink="/league/{{league.id}}">
                                <img [src]='league.img' alt="user" class="img-circle">
                                
                            </div>
                            
                            <div class="mail-content" routerLink="/league/{{league.id}}">
                                <h5 mat-line>{{league.name}} </h5>
                                <span mat-line class="mail-desc">{{league.city}}</span>
                            </div> 
                            <div>
                                <button (click)="joinLeague(league.Lid)"> Join League </button>
                            </div> 
                        </mat-list-item>
        
                    </a>
                    
                </mat-list>
            </div> 
        </div> 
    </mat-card-content>
</mat-card>
