<mat-card>
    <mat-card-title> All Leagues </mat-card-title>
    <mat-card-subtitle> Complete List of leagues</mat-card-subtitle>
    <mat-card-content>
        <div class="message-box contact-box p-20">
            <div class="message-widget contact-widget">
                <mat-list>
                    <a routerLink="/league" *ngFor='let league of leagueItems.getLeagueitem()'>
                        <mat-list-item >
                        
                            <div class="user-img" mat-list-avatar>
                                <img [src]='league.picture_url' alt="user" class="img-circle">
                                
                            </div>
                            
                            <div class="mail-content">
                                <h5 mat-line>{{league.name}} </h5>
                                <span mat-line class="mail-desc">{{league.city}}</span>
                            </div>
                
                            <div>
                                <span mat-line>Places</span>
                                <h4 mat-line>{{league.max_players}}</h4>
                            </div>      
                        </mat-list-item>
        
                    </a>
                    
                </mat-list>
            </div> 
        </div> 
    </mat-card-content>
</mat-card>
