<div class="p-20" *ngIf="matches_available">
    <div *ngFor="let day of match_days">
        <mat-card>
            <mat-card-content>
            <mat-card-title>{{ day.date }}</mat-card-title>
<!--                     <mat-card-subtitle>Expansion panel</mat-card-subtitle>
-->                    
                <mat-accordion class="example-headers-align">
                    <div *ngFor="let match of day.matches">
                        <!-- <mat-expansion-panel hideToggle="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>     
                                    {{ match.winners.length}} vs {{ match.losers.length}}
                                    registered by {{ match.player_id }}
                                    
                                     
                                </mat-panel-title>
                                <mat-panel-description> DIOCANE
                                    <mat-icon (click)="openDialog(match)" *ngIf="(!match.was_reported)">report</mat-icon> 
                                    <button mat-button clickable="false" *ngIf="(match.was_reported)">
                                        Reported
                                    </button>   
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                        </mat-expansion-panel> -->
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="step === 0" hideToggle="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title> {{ match.winners.length}} vs {{ match.losers.length}}
                                    registered by {{ match.player_id }} </mat-panel-title>
                                <!-- <mat-panel-description> {{panelOpenState ? 'Players' :  match.winned_points}} </mat-panel-description> -->
                                <mat-panel-description> 
                                    <div>
                                        + {{match.winned_points}} / - {{match.loosed_points}}
                                    </div> 
                                    <div>
                                        <mat-icon (click)="openDialog(match)" *ngIf="(!match.was_reported)">report</mat-icon> 
                                        <!-- <button mat-button clickable="false" *ngIf="(match.was_reported)">
                                            Reported
                                        </button> -->
                                    </div>
                                    
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>

                    </div>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
        
    </div>
    <button mat-button class="load-more-btn" color="accent" (click)="loadMore()"> Load more games </button>
    
</div>
<div *ngIf="!matches_available">
    <h1> There are no matches available</h1>
</div>