<div class="p-20 bg-info position-relative">
    <h4 class="card-title text-white m-0">My Leagues</h4>
    <h6 class="card-subtitle text-white m-0 op-5">List of all the leagues you have joined</h6>
</div>
<div class="message-box contact-box p-20">
    <div class="message-widget contact-widget">
        <!-- Message -->
        <mat-list>
            <a routerLink="/league/{{league.Lid}}" *ngFor='let league of owner_leagues'>
                <mat-list-item >
                
                    <div class="user-img" mat-list-avatar>
                        <img [src]='league.img' alt="user" class="img-circle">
                        
                    </div>
                    
                    <div class="mail-content">
                        <h5 mat-line>{{league.name}} </h5>
                        <span mat-line class="mail-desc">{{league.city}}</span>
                    </div>
                        <button mat-raised-button color="accent" routerLink="/all-leagues"> View </button>
                        <button mat-button color="warn" (click)="leaveLeague(league.Lid)">
                            <mat-icon>logout</mat-icon>
                        </button>     
            </mat-list-item>

            </a>
            
        </mat-list>
        <button mat-raised-button color="primary" routerLink="/all-leagues">
            <mat-icon>add</mat-icon>
            Search another league
        </button>
    </div>
</div>