<mat-card>
    <mat-card-content>
        <button mat-raised-button class="edit_btn" color="primary">
            <mat-icon>edit</mat-icon>
            Edit
        </button>
        <img class="profile_pic" src="/assets/images/users/img_avatar.png">
        <div>
            <h3> Giacomo Pilotti </h3>
            <p> {{ ss }} </p>

        </div>

        <mat-divider></mat-divider>

        <!-- <br>

        <app-user-statistics></app-user-statistics>

        <mat-divider></mat-divider> -->

        <br>
        
        <app-ranking-list></app-ranking-list>
    </mat-card-content>
</mat-card>

