<mat-card>
    <mat-card-content>
        <button mat-raised-button class="edit_btn" routerLink="{{owner?.id}}/edit-profile" color="primary">
            <mat-icon>edit</mat-icon>
            Edit
        </button>
        <img class="profile_pic" src="/assets/images/users/img_avatar.png">
        <div>
            <h3> {{ owner?.name }} </h3>
            <span> # {{owner?.username }} </span>

        </div>

        <mat-divider></mat-divider>

        <!-- <br>

        <app-user-statistics></app-user-statistics>

        <mat-divider></mat-divider> -->

        <br>
        
        <app-ranking-list></app-ranking-list>
    </mat-card-content>
</mat-card>

