<div *ngIf="match != undefined">
    <mat-card>
        <mat-card-title>Review Match #{{match.id}}</mat-card-title>
        <mat-card-subtitle>
            {{ match.winners.length}} vs {{ match.losers.length}} registered by {{ getPlayer(match.player_id).fullname }} 
        </mat-card-subtitle>
        <mat-card-content>
            <label *ngIf="match.winners.length > match.losers.length">
                Points of the players of the winning team: 
                <input  #wpoints placeholder="{{match.winned_points}}">
                <button mat-button (click)="changePoints(2, wpoints.value)">Change</button>
            </label>
            <br>
            <label *ngIf="match.winners.length < match.losers.length">
                Points of the players of the loosing team:
                <input  #lpoints placeholder="{{match.loosed_points}}">
                <button mat-button (click)="changePoints(1, lpoints.value)">Change</button>
            </label>   
            <label *ngIf="match.winners.length === match.losers.length">
                Points of the players:
                <input  #points placeholder="{{match.loosed_points}}">
                <button mat-button (click)="changePoints(0, points.value)">Change</button>
            </label>         
            <mat-grid-list cols="2">
                <mat-grid-tile>
                    <div>
                        Winners :
                        <mat-chip-list *ngFor="let winner of match.winners">
                            <mat-chip color="primary" selected> {{winner.fullname }} +{{match.winned_points}}</mat-chip>
                          </mat-chip-list>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div>
                        Losers :
                        <mat-chip-list *ngFor="let loser of match.losers">
                            <mat-chip color="warn" selected> {{loser.fullname }} +{{match.loosed_points}}</mat-chip>
                          </mat-chip-list>
                    </div>
                    <!-- <label> Total: </label>
                    {{match.loosed_points * match.losers.length}} -->
                </mat-grid-tile>
            </mat-grid-list>
            
            <br>
            <div class="review-buttons">
                <button mat-raised-button color="warn" (click)="deleteMatch()">
                    <mat-icon>delete</mat-icon>
                    Delete
                </button>
                <button mat-raised-button color="primary" [disabled]="!change_check" (click)="saveMatch()">
                    <mat-icon>ok</mat-icon>
                    Save
                </button>
            </div>
            
            
        </mat-card-content>
    </mat-card>
</div>
<div>
    <app-error></app-error>
</div>
