<mat-card>
    <mat-card-title> Review Match</mat-card-title>
    <mat-card-content>
        <div>
            <label> Winners 
            </label>
            <h5> Michele </h5>
        </div>
        <div>
            <label> Losers 
            </label>
            <h5> Michele </h5>
        </div>
        <div>
            <label> 
                Points 
                <span>
                    <button mat-icon-button (click)="changePoints()">
                        <mat-icon>edit</mat-icon>
                    </button>

                </span>
                
            </label>
            <h5> 34 </h5>
        </div>
    </mat-card-content>

</mat-card>