<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Ranking">
        <div class="p-20">
            <mat-card>
                <mat-card-content>
                    <mat-card-title> ROUNDNET BOLZANO </mat-card-title>
                    <mat-grid-list cols="8" rowHeight="50px">
                        <mat-grid-tile [colspan]="1"> 
                            <div class="list-header">
                                Rank
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="6"> 
                            <div class="list-header">
                                Player
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1"> 
                            <div class="list-header">
                                Points
                            </div>
                        </mat-grid-tile>
                        <div *ngFor="let player of playerList">
                            <mat-grid-tile [colspan]="1"> {{playerList.indexOf(player) + 1}} </mat-grid-tile>
                            <mat-grid-tile [colspan]="6">
                                <div class="user-img">
                                    <img [src]="player.picture_url" alt="Image of {{player.name}}">                             
                                </div>
                                <h4> {{ player.fullname }} </h4>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="1" *ngIf="player.active">{{ player.points }}</mat-grid-tile>
                            <mat-grid-tile [colspan]="1" *ngIf="!player.active">OUT</mat-grid-tile>
                        </div>
                      </mat-grid-list>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Matches">
        <app-matches-view></app-matches-view>
    </mat-tab>
</mat-tab-group>

          
        



        