<mat-card>
    <mat-card-content>
        <mat-card-title>Create a new League</mat-card-title>
        <mat-card-subtitle>Fill this form to ask us to create you a league. We will contact you back!</mat-card-subtitle>
        <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper id="stepper">
            <form [formGroup]="formGroup" (ngSubmit)="onClickSubmit(formGroup.value)">
                <mat-step [stepControl]="formGroup.controls['firstFormGroup']">
                    <div [formGroup]="formGroup.controls['firstFormGroup']">
                        <ng-template matStepLabel>Informations</ng-template>
                        
                        <mat-form-field>       
                            <input matInput placeholder="Insert the name of your league" formControlName="nameCtrl" required>                 
                        </mat-form-field>
                        <label> </label>
                        <mat-form-field>
                            <input matInput placeholder="Where will your league take place? " formControlName="locationCtrl" required>
                        </mat-form-field>
                        <label> </label>
                        <mat-form-field>
                            <input matInput placeholder="How many players can play in your league? " formControlName="maxPlayerCtrl">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select class="example-select" formControlName="sportCtrl">
                                <mat-option value="Roundnet">Roundnet</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                            <button mat-raised-button color="warn" matStepperNext>Next</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step [stepControl]="formGroup.controls['secondFormGroup']">
                    <div [formGroup]="formGroup.controls['secondFormGroup']">
                        <ng-template matStepLabel>League Image</ng-template>
                        <div class="preview" *ngIf="imgFile">
                            <img [src]="imgFile" style="width:200px; height:200px; border: 1px black">
                        </div>                    
                          <div class="form-group">
                            <label for="file">File</label>
                            <input type="file" class="form-control" id="file" formControlName="file" (change)="onImageChange($event)">
                            <div *ngIf="second.file.touched && second.file.invalid" class="alert alert-danger">
                              <div *ngIf="second.file.errors.required">Image file is required.</div>
                            </div>
                          </div> 
                        <div>
                            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                            <button mat-raised-button color="warn" matStepperNext>Next</button>
                        </div>
                    </div>
                </mat-step>
                <!-- <mat-step [stepControl]="formGroup.controls['thirdFormGroup']">
                    <div [formGroup]="formGroup.controls['thirdFormGroup']">
                        <ng-template matStepLabel>Other Informations</ng-template>
                        
                        <div>
                            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                            <button mat-raised-button color="warn" matStepperNext>Next</button>
                        </div>
                    </div>
                </mat-step> -->
                <mat-step [stepControl]="formGroup.controls['fourthFormGroup']">
                    <div [formGroup]="formGroup.controls['fourthFormGroup']">
                        <ng-template matStepLabel>End of the league</ng-template>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" id="date" placeholder="When should the league end ?" name="date" formControlName="endDateCtrl" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                        <div>
                            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                            <button mat-raised-button color="warn" matStepperNext>Next</button>
                        </div>
                    </div>
                </mat-step>
    
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    Thanks for the information. We will contact you back!
                    <div>
                        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                        <button mat-raised-button color="warn" disabled *ngIf="first.nameCtrl.invalid">Submit</button>
                        <button mat-raised-button color="primary" type="submit" class="submit" *ngIf="!first.nameCtrl.invalid" (click)="submit(stepper)">Submit</button>
                    </div>
                </mat-step>
            </form>   
        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>    