//mat-grid-tile {
  .winners {
    background: lightgreen;
  }
  .losers {
    background: lightcoral;
  }

  mat-chip[selected=true] {
    color : accent;
  }

  .points-error {
    color: red;
  }
//}