<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row">
    <div fxFlex>
        <mat-card>
            <mat-card-content>
              <mat-card-title>Players of Summer Season Ranking</mat-card-title>
              <button (click)="clearStorage()">CLEAR</button> 
<!--                 <mat-card-subtitle><code>&lt;mat-grid-list&gt;</code> is a two-dimensional list view that arranges cells into grid-based layout. See Material Design spec. <code><a href="https://material.io/guidelines/components/grid-lists.html">Official Doc here</a></code></mat-card-subtitle>
 -->                
                <input id="nts">
                <button mat-icon-button (click)="search()">
                  <mat-icon>search</mat-icon>
                </button>
                <mat-selection-list #players>
                  <mat-list-item *ngFor="let player of arr_player">
                      <div mat-line>
                          {{player.fullname}}
                      </div>
                      <div>
                        <button mat-icon-button class="btn_winners" (click)="addToWinners(player)">
                          <mat-icon>thumb_up</mat-icon>
                        </button>
                        <button mat-icon-button class="btn_losers" (click)="addToLosers(player)">
                          <mat-icon>thumb_down</mat-icon>
                        </button>
                      </div>
                      <mat-divider></mat-divider>

                  </mat-list-item>

                </mat-selection-list>
                <!-- <mat-grid-list cols="4" rowHeight="100px">
                  <mat-grid-tile
                      *ngFor="let tile of tiles"
                      [colspan]="tile.cols"
                      [rowspan]="tile.rows"
                      [style.background]="tile.color">
                    {{tile.text}}
                  </mat-grid-tile>
                </mat-grid-list>   -->
            </mat-card-content>        
        </mat-card>
    </div>
</div>    
<!-- ============================================================== -->
<!-- Basic Card Grid-->
<!-- ============================================================== -->
<mat-card>
    <mat-card-content>
      
      <form  #result="ngForm" (ngSubmit)="onSubmit(result)">
        <input [matDatepicker]="basicDatepicker" id="date" name="date" ngModel required>
      <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #basicDatepicker></mat-datepicker>
      <mat-grid-list cols="2" rowHeight="30px">
        <mat-grid-tile class="winners">
          <h2> Winners </h2>
        </mat-grid-tile>
        <mat-grid-tile class="losers">
          <h2> Losers </h2>
        </mat-grid-tile>
      </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="200px">  <!-- rowHeight="2:1" -->
          <mat-grid-tile >
            <div>
              <mat-selection-list #losers="ngModel" name="losers" ngModel>
                <mat-list-item *ngFor="let player of arr_winners" ngDefaultControl id="{{player.id}}">
                  {{player.fullname}}
                  <button mat-icon-button type="button" (click)="changeToLoser(player)" color="primary">
                    <mat-icon>swap_horiz</mat-icon>
                  </button>
                  <button mat-icon-button type="button" (click)="restorePlayer(player, 1)" color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>  
                </mat-list-item>            
              </mat-selection-list>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile>
            <div>
              <mat-selection-list #winners="ngModel" name="winners" ngModel>
                <mat-list-item *ngFor="let player of arr_losers" ngDefaultControl id="{{player.id}}">
                  {{player.fullname}}
                  <button mat-icon-button type="button" (click)="changeToWinner(player)" color="primary">
                    <mat-icon>swap_horiz</mat-icon>
                  </button>
                  <button mat-icon-button type="button" (click)="restorePlayer(player, 2)" color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-selection-list>
          </div>
          </mat-grid-tile>
        </mat-grid-list>          
          <div>
            <label> Insert points :</label>
            <input name="points" #points="ngModel" ngModel required>
            <button mat-button class="btn-primary" type="submit" color="primary">Submit</button>
          </div>
      </form>
    </mat-card-content>       
    
</mat-card>
