<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row">
    <div fxFlex>
        <mat-card>
            <mat-card-content>
              <mat-toolbar color="primary">
                <span>Create a new Match</span>
                <span fxFlex></span>
                <input id="nts">
                <button mat-button (click)="search()" mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
              </mat-toolbar>
              
<!--                 <mat-card-subtitle><code>&lt;mat-grid-list&gt;</code> is a two-dimensional list view that arranges cells into grid-based layout. See Material Design spec. <code><a href="https://material.io/guidelines/components/grid-lists.html">Official Doc here</a></code></mat-card-subtitle>
 -->                
                
                <mat-selection-list #players>
                  <mat-list-item *ngFor="let player of arr_player">
                      <div mat-line>
                          {{player.fullname}}
                      </div>
                      <div>
                        <button mat-raised-button class="btn_winners" (click)="addToWinners(player)" color="primary">
                          <mat-icon>thumb_up</mat-icon> Winner
                        </button>
                        <button mat-raised-button class="btn_losers" (click)="addToLosers(player)" color="warn">
                          <mat-icon>thumb_down</mat-icon> Loser
                        </button>
                      </div>
                      <mat-divider></mat-divider>

                  </mat-list-item>

                </mat-selection-list>
            </mat-card-content>        
        </mat-card>
    </div>
</div>    
<!-- ============================================================== -->
<!-- Basic Card Grid-->
<!-- ============================================================== -->
<mat-card>
    <mat-card-content>
      
      <form  #result="ngForm" (ngSubmit)="onSubmit(result)">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" ngModel name="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-chip-list id="chiplist">
        <label>Points of players of the smallest team : </label>
        <div *ngFor="let chip of chips">
          <mat-chip value="chip.value" [selected]="chip.state" (click)="chip.state=!chip.state; selectChip(chip)">{{chip.value}}</mat-chip>
        </div>
      </mat-chip-list>
      <br>
      <mat-grid-list cols="2" rowHeight="30px">
        <mat-grid-tile class="winners">
          <mat-toolbar color="primary">
            <span>Winners</span>
            <span fxFlex></span>
            <span>
              points : {{ winned_points }}            
            </span>   
          </mat-toolbar>
        </mat-grid-tile>
        <mat-grid-tile class="losers">
          <mat-toolbar color="warn">
            <span>Losers</span>
            <span fxFlex></span>
            <span>
              points : {{ loosed_points }}            
            </span> 
          </mat-toolbar>
        </mat-grid-tile>
      </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="200px">  <!-- rowHeight="2:1" -->
          <mat-grid-tile >

            <mat-chip-list class="mat-chip-list-stacked"  #winners="ngModel" name="winners" ngModel>
              <mat-chip *ngFor="let player of arr_winners">{{player.fullname}}
                <mat-icon (click)="changeToLoser(player)">swap_horiz</mat-icon>
                <mat-icon matChipRemove (click)="restorePlayer(player, 1)">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-grid-tile>
  
          <mat-grid-tile>
            <mat-chip-list class="mat-chip-list-stacked"  #losers="ngModel" name="losers" ngModel>
              <mat-chip *ngFor="let player of arr_losers">{{player.fullname}}
                <mat-icon (click)="changeToWinner(player)">swap_horiz</mat-icon>
                <mat-icon matChipRemove (click)="restorePlayer(player, 2)">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-grid-tile>
        </mat-grid-list>
        <p class="points-error" *ngIf="winned_points > max_point || loosed_points > max_point">The maximum of points a player can get is : {{max_point}}</p>
        <p class="points-error" *ngIf="!result.valid">Please insert a date.</p>          
        <button mat-button class="btn-primary" type="submit" color="primary" [disabled]="disableSubmit(result)">Submit</button>

      </form>
    </mat-card-content>       
    
</mat-card>
<button (click)="clearStorage()">CLEAR</button> 
